.spinnerconent{
    position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display:flex ;
  text-align: center;
}

.spinnerclass{
    position: fixed;
  width: 100%;
  left: 50%;
  right: 0;
  top: 50%;
  bottom: 0;
}